{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "plugins": ["react"],
  "parserOptions": {
    "project": "./tsconfig.lint.json"
  },
  "rules": {
    "react/jsx-curly-brace-presence": [
      "warn",
      {
        "props": "never",
        "children": "ignore"
      }
    ]
  }
}
